/* DayPicker styles */

.DayPicker {
    display: inline-block;
    font-size: 1rem;
    position: absolute;
    top:calc(100% + 10px);
    right:-10px;
    z-index: 10;
    background: #fff;
    color: #333;
    border: 3px solid #0756bf;
    &:after {
        position: absolute;
        z-index: 10;
        content: '';
        display: block;
        margin: -1px;
        font-size: 1rem;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        border-bottom-right-radius: 5em;
        visibility: visible;
        clip: auto;
        width: 20px;
        height: 20px;
        background: #fff;
        border: 3px solid #0756bf;
        border-right: 0 solid transparent;
        border-bottom: 0 solid transparent;
        top:-11px;
        right: 30px;
    }
}

.DayPicker-wrapper {
    position: relative;

    flex-direction: row;
    padding-bottom: 1em;

    user-select: none;
}

.DayPicker-Months {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.DayPicker-Month {
    display: table;
    margin: 0 1em;
    margin-top: 1em;
    border-spacing: 0;
    border-collapse: collapse;

    user-select: none;
}

.DayPicker-NavBar {
}

.DayPicker-NavButton {
    position: absolute;
    top: 1em;
    right: 1.5em;
    left: auto;

    display: inline-block;
    margin-top: 2px;
    width: 1.25em;
    height: 1.25em;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    color: #8B9898;
    cursor: pointer;
}

.DayPicker-NavButton:hover {
    opacity: 0.8;
}

.DayPicker-NavButton--prev,
.DayPicker-NavButton--next {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.3rem;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 36px;
    height: 36px;
    width: 36px;
    border-radius: 100% 100%;
    background: $color-cl-4;
    color: #fff;
    text-align: center;
    top:10px;
}
.DayPicker-NavButton--next {
    right: 20px;
}
.DayPicker-NavButton--prev {
    left: 20px;
}
.DayPicker-NavButton--prev:before {
    content:"\f104";
}

.DayPicker-NavButton--next:before {
    content:"\f105";
}

.DayPicker-NavButton--interactionDisabled {
    display: none;
}

.DayPicker-Caption {
    display: table-caption;
    text-align: center;
    padding: 0;
    margin: -3px 0 12px;
    line-height: 36px;
    vertical-align: top;
    color: #000;
}

.DayPicker-Caption > div {
    font-weight: 500;
    font-size: 1.15em;
}

.DayPicker-Weekdays {
    display: table-header-group;
    margin-top: 1em;
}

.DayPicker-WeekdaysRow {
    display: table-row;
}

.DayPicker-Weekday {
    display: table-cell;
    padding: 0.5em;
    color: #8B9898;
    text-align: center;
    font-size: 0.875em;
}

.DayPicker-Weekday abbr[title] {
    border-bottom: none;
    text-decoration: none;
}

.DayPicker-Body {
    display: table-row-group;
}

.DayPicker-Week {
    display: table-row;
}

.DayPicker-Day {
    display: table-cell;
    padding: 11px;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.DayPicker-WeekNumber {
    display: table-cell;
    padding: 0.5em;
    min-width: 1em;
    border-right: 1px solid #EAECEC;
    color: #8B9898;
    vertical-align: middle;
    text-align: right;
    font-size: 0.75em;
    cursor: pointer;
}

.DayPicker--interactionDisabled .DayPicker-Day {
    cursor: default;
}

.DayPicker-Footer {
    padding-top: 0.5em;
}

.DayPicker-TodayButton {
    border: none;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    color: #4A90E2;
    font-size: 0.875em;
    cursor: pointer;
}

/* Default modifiers */

.DayPicker-Day--today {
    color: #D0021B;
    font-weight: 700;
}

.DayPicker-Day--outside {
    color: #8B9898;
    cursor: default;
}

.DayPicker-Day--disabled {
    color: #DCE0E0;
    cursor: default;
    /* background-color: #eff1f1; */
}

/* Example modifiers */

.DayPicker-Day--sunday {
    background-color: #F7F8F8;
}

.DayPicker-Day--sunday:not(.DayPicker-Day--today) {
    color: #DCE0E0;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    position: relative;
    background-color: $color-cl-4;
    color: #F0F8FF;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
    background-color: $color-cl-4;
}

.DayPicker:not(.DayPicker--interactionDisabled)
.DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    background-color: #F0F8FF;
}

/* DayPickerInput */

.DayPickerInput {
    display: inline-block;
}

.DayPickerInput-OverlayWrapper {
    position: relative;
}

.DayPickerInput-Overlay {
    position: absolute;
    left: 0;
    z-index: 1;

    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.react-date-picker {
    .react-date-picker__calendar {
        z-index: 10;
        border:3px solid $color-cl-4;
        top: calc(100% + 40px);
        left: 20px;

    }
}

.selected-date {
    line-height: normal;
    position: absolute;
    left: 22px;
    top: 4px;
    span:nth-child(1) {
        font-size: 1.2rem;
        font-weight: bolder;
        display: block;
        margin-bottom: -5px;
    }
    span:nth-child(2) {
        font-size:.72rem;
        text-transform: uppercase;
    }
}
