
.flag {
    display: inline-block;
    vertical-align: top
}

.flag-sm, .flag-sm {
    -webkit-transform: scale(.6);
    -ms-transform: scale(.6);
    transform: scale(.6);
    vertical-align: middle
}

.flag-xs {
    vertical-align: top;
    margin: -8px;
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5)
}

.flag- {
    display: none
}

.flag {
    width: 32px;
    max-width: 32px;
    height: 32px;
    background: url("../images/flags/sprite-flags.png") no-repeat 43.9299% 0;
}

.flag-img {
    width: 32px;
    max-width: 32px;
    height: 32px;
    padding: 0;
    img {
        width: 32px;
        max-width: 32px;
        height: 32px;
    }
}

@media (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    .flag {
        background-image: url("../images/flags/sprite-flags@2x.png");
        background-size: 7680px 32px
    }
}

.flag-kuwait, .flag-kwt {
    background-position: 0 0
}

.flag-afg, .flag-afghanistan {
    background-position: .41838% 0
}

.flag-alb, .flag-albania {
    background-position: .83676% 0
}

.flag-algeria, .flag-dza {
    background-position: 1.25514% 0
}

.flag-american-samoa, .flag-asm {
    background-position: 1.67352% 0
}

.flag-american-virgin-island, .flag-vir {
    background-position: 2.0919% 0
}

.flag-and, .flag-andorra {
    background-position: 2.51028% 0
}

.flag-ago, .flag-angola {
    background-position: 2.92866% 0
}

.flag-aia, .flag-anguilla {
    background-position: 3.34704% 0
}

.flag-antigua-and-barbuda, .flag-antigua-barbuda, .flag-atg {
    background-position: 3.76542% 0
}

.flag-arabic {
    background-position: 4.1838% 0
}

.flag-arg, .flag-argentina {
    background-position: 4.60218% 0
}

.flag-arm, .flag-armenia {
    background-position: 5.02056% 0
}

.flag-abw, .flag-aruba {
    background-position: 5.43894% 0
}

.flag-aus, .flag-australia {
    background-position: 5.85732% 0
}

.flag-austria, .flag-austria-amateur, .flag-aut {
    background-position: 6.2757% 0
}

.flag-aze, .flag-azerbaijan {
    background-position: 6.69408% 0
}

.flag-bahamas, .flag-bhs {
    background-position: 7.11246% 0
}

.flag-bahrain, .flag-bhr {
    background-position: 7.53084% 0
}

.flag-bangladesh, .flag-bgd {
    background-position: 7.94922% 0
}

.flag-barbados, .flag-brb {
    background-position: 8.3676% 0
}

.flag-basque {
    background-position: 8.78598% 0
}

.flag-belarus, .flag-blr {
    background-position: 9.20436% 0
}

.flag-bel, .flag-belgium {
    background-position: 9.62274% 0
}

.flag-belize, .flag-blz {
    background-position: 10.04112% 0
}

.flag-ben, .flag-benin {
    background-position: 10.4595% 0
}

.flag-bermuda, .flag-bmu {
    background-position: 10.87788% 0
}

.flag-bhutan, .flag-btn {
    background-position: 11.29626% 0
}

.flag-bol, .flag-bolivia {
    background-position: 11.71464% 0
}

.flag-bih, .flag-bosnia-herzegovina {
    background-position: 12.13302% 0
}

.flag-botswana, .flag-bwa {
    background-position: 12.5514% 0
}

.flag-bra, .flag-brazil {
    background-position: 12.96978% 0
}

.flag-british-virgin-islands, .flag-vgb {
    background-position: 13.38816% 0
}

.flag-brn, .flag-brunei {
    background-position: 13.80654% 0
}

.flag-bgr, .flag-bulgaria {
    background-position: 14.22492% 0
}

.flag-bfa, .flag-burkina-faso {
    background-position: 14.6433% 0
}

.flag-bur, .flag-burma {
    background-position: 15.06168% 0
}

.flag-bdi, .flag-burundi {
    background-position: 15.48006% 0
}

.flag-cambodia, .flag-khm {
    background-position: 15.89844% 0
}

.flag-cameroon, .flag-cmr {
    background-position: 16.31682% 0
}

.flag-can, .flag-canada {
    background-position: 16.7352% 0
}

.flag-cape-verde {
    background-position: 17.15358% 0
}

.flag-catalonia {
    background-position: 17.57196% 0
}

.flag-cayman-islands, .flag-cym {
    background-position: 17.99034% 0
}

.flag-caf, .flag-central-african-rep {
    background-position: 18.40872% 0
}

.flag-chad, .flag-tcd {
    background-position: 18.8271% 0
}

.flag-chile, .flag-chl {
    background-position: 19.24548% 0
}

.flag-china, .flag-chn {
    background-position: 19.66386% 0
}

.flag-christmas-island, .flag-cxr {
    background-position: 20.08224% 0
}

.flag-col, .flag-colombia {
    background-position: 20.50062% 0
}

.flag-com, .flag-comoros {
    background-position: 20.919% 0
}

.flag-cok, .flag-cook-islands {
    background-position: 21.75576% 0
}

.flag-costa-rica, .flag-cri {
    background-position: 22.17414% 0
}

.flag-cro, .flag-croatia, .flag-hrv {
    background-position: 22.59252% 0
}

.flag-cub, .flag-cuba {
    background-position: 23.0109% 0
}

.flag-curacao, .flag-cuw {
    background-position: 23.42928% 0
}

.flag-cyp, .flag-cyprus {
    background-position: 23.84766% 0
}

.flag-cze, .flag-czech-republic {
    background-position: 24.26604% 0
}

.flag-denmark, .flag-denmark-amateur, .flag-dnk {
    background-position: 24.68442% 0
}

.flag-dji, .flag-djibouti {
    background-position: 25.1028% 0
}

.flag-dma, .flag-dominica {
    background-position: 25.52118% 0
}

.flag-dom, .flag-dominican-rep {
    background-position: 25.93956% 0
}

.flag-cod, .flag-dr-congo {
    background-position: 26.35794% 0
}

.flag-cog, .flag-congo, .flag-congo-republic, .flag-republic-of-congo {
    background-position: 21.33738% 0
}

.flag-east-timor, .flag-tmp {
    background-position: 26.77632% 0
}

.flag-ecu, .flag-ecuador {
    background-position: 27.1947% 0
}

.flag-ecuatorial-guinea, .flag-gnq {
    background-position: 27.61308% 0
}

.flag-egy, .flag-egypt {
    background-position: 28.03146% 0
}

.flag-el-salvador, .flag-slv {
    background-position: 28.44984% 0
}

.flag-eng, .flag-england, .flag-england-amateur {
    background-position: 28.86822% 0
}

.flag-equatorial-guinea, .flag-gnq {
    background-position: 29.2866% 0
}

.flag-eri, .flag-eritrea {
    background-position: 29.70498% 0
}

.flag-est, .flag-estonia {
    background-position: 30.12336% 0
}

.flag-eth, .flag-ethiopia {
    background-position: 30.54174% 0
}

.flag-faroe-islands, .flag-fro {
    background-position: 30.96012% 0
}

.flag-fiji, .flag-fji {
    background-position: 31.3785% 0
}

.flag-fin, .flag-finland {
    background-position: 31.79688% 0
}

.flag-flag-country-unknown {
    background-position: 32.21526% 0
}

.flag-former-east-timor {
    background-position: 32.63364% 0
}

.flag-fra, .flag-france {
    background-position: 33.05202% 0
}

.flag-french-guiana, .flag-french-guyana, .flag-guf {
    background-position: 33.4704% 0
}

.flag-gab, .flag-gabon {
    background-position: 33.88878% 0
}

.flag-gambia, .flag-gmb {
    background-position: 34.30716% 0
}

.flag-geo, .flag-georgia {
    background-position: 34.72554% 0
}

.flag-deu, .flag-germany, .flag-germany-amateur {
    background-position: 35.14392% 0
}

.flag-gha, .flag-ghana {
    background-position: 35.5623% 0
}

.flag-gib, .flag-gibraltar {
    background-position: 35.98068% 0
}

.flag-granada, .flag-grd {
    background-position: 36.39906% 0
}

.flag-gbr, .flag-great-britain, .flag-uk, .flag-united-kingdom {
    background-position: 36.81744% 0
}

.flag-grc, .flag-greece {
    background-position: 37.23582% 0
}

.flag-greenland, .flag-grl {
    background-position: 37.6542% 0
}

.flag-grd, .flag-grenada {
    background-position: 38.07258% 0
}

.flag-glp, .flag-guadeloupe {
    background-position: 38.49096% 0
}

.flag-guam, .flag-gum {
    background-position: 38.90934% 0
}

.flag-gtm, .flag-guatemala {
    background-position: 39.32772% 0
}

.flag-gin, .flag-guinea {
    background-position: 39.7461% 0
}

.flag-gnb, .flag-guinea-bissau {
    background-position: 40.16448% 0
}

.flag-guy, .flag-guyana {
    background-position: 40.58286% 0
}

.flag-haiti, .flag-hti {
    background-position: 41.00124% 0
}

.flag-hnd, .flag-honduras {
    background-position: 41.41962% 0
}

.flag-hkg, .flag-hong-kong {
    background-position: 41.838% 0
}

.flag-hun, .flag-hungary {
    background-position: 42.25638% 0
}

.flag-iceland, .flag-isl {
    background-position: 42.67476% 0
}

.flag-ind, .flag-india {
    background-position: 43.09314% 0
}

.flag-idn, .flag-indonesia {
    background-position: 43.51152% 0
}

.flag-international {
    background-position: 43.9299% 0
}

.flag-iran, .flag-irn {
    background-position: 44.34828% 0
}

.flag-iraq, .flag-irq {
    background-position: 44.76666% 0
}

.flag-ireland, .flag-irl {
    background-position: 45.18504% 0
}

.flag-isr, .flag-israel {
    background-position: 45.60342% 0
}

.flag-ita, .flag-italy {
    background-position: 46.0218% 0
}

.flag-civ, .flag-ivory-coast {
    background-position: 46.44018% 0
}

.flag-jam, .flag-jamaica {
    background-position: 46.85856% 0
}

.flag-japan, .flag-jpn {
    background-position: 47.27694% 0
}

.flag-jersey, .flag-jey {
    background-position: 47.69532% 0
}

.flag-jor, .flag-jordan {
    background-position: 48.1137% 0
}

.flag-kaz, .flag-kazakhstan {
    background-position: 48.53208% 0
}

.flag-ken, .flag-kenya {
    background-position: 48.95046% 0
}

.flag-kir, .flag-kiribati {
    background-position: 49.36884% 0
}

.flag-kos, .flag-kosovo {
    background-position: 49.78722% 0
}

.flag-ala, .flag-aland-islands {
    background-position: 50.2056% 0
}

.flag-kgz, .flag-kyrgyzstan {
    background-position: 50.62398% 0
}

.flag-laos {
    background-position: 51.04236% 0
}

.flag-latvia, .flag-lva {
    background-position: 51.46074% 0
}

.flag-lbn, .flag-lebanon {
    background-position: 51.87912% 0
}

.flag-lesotho, .flag-lso {
    background-position: 52.2975% 0
}

.flag-lbr, .flag-liberia {
    background-position: 52.71588% 0
}

.flag-lby, .flag-libya {
    background-position: 53.13426% 0
}

.flag-lie, .flag-liechtenstein {
    background-position: 53.55264% 0
}

.flag-lithuania, .flag-ltu {
    background-position: 53.97102% 0
}

.flag-lux, .flag-luxembourg {
    background-position: 54.3894% 0
}

.flag-mac, .flag-macao {
    background-position: 54.80778% 0
}

.flag-macedonia, .flag-mkd {
    background-position: 55.22616% 0
}

.flag-madagascar, .flag-mdg {
    background-position: 55.64454% 0
}

.flag-malawi, .flag-mwi {
    background-position: 56.06292% 0
}

.flag-malaysia, .flag-mys {
    background-position: 56.4813% 0
}

.flag-maldives, .flag-mdv {
    background-position: 56.89968% 0
}

.flag-mali, .flag-mli {
    background-position: 57.31806% 0
}

.flag-malta, .flag-mlt {
    background-position: 57.73644% 0
}

.flag-marshall-islands, .flag-mhl {
    background-position: 58.15482% 0
}

.flag-martinique, .flag-mtq {
    background-position: 58.5732% 0
}

.flag-mauritania, .flag-mrt {
    background-position: 58.99158% 0
}

.flag-mauritius, .flag-mus {
    background-position: 59.40996% 0
}

.flag-mex, .flag-mexico {
    background-position: 59.82834% 0
}

.flag-fsm, .flag-micronesia {
    background-position: 60.24672% 0
}

.flag-mda, .flag-moldova {
    background-position: 60.6651% 0
}

.flag-mco, .flag-monaco {
    background-position: 61.08348% 0
}

.flag-mng, .flag-mongolia {
    background-position: 61.50186% 0
}

.flag-mne, .flag-montenegro {
    background-position: 61.92024% 0
}

.flag-montserrat, .flag-msr {
    background-position: 62.33862% 0
}

.flag-mar, .flag-morocco {
    background-position: 62.757% 0
}

.flag-moz, .flag-mozambique {
    background-position: 63.17538% 0
}

.flag-mmr, .flag-myanmar {
    background-position: 63.59376% 0
}

.flag-n-ireland, .flag-nir, .flag-northern-ireland {
    background-position: 64.01214% 0
}

.flag-nam, .flag-namibia {
    background-position: 64.43052% 0
}

.flag-nauru, .flag-nru {
    background-position: 64.8489% 0
}

.flag-nepal, .flag-npl {
    background-position: 65.26728% 0
}

.flag-netherlands, .flag-nld {
    background-position: 65.68566% 0
}

.flag-ant, .flag-netherlands-antilles {
    background-position: 66.10404% 0
}

.flag-ncl, .flag-new-caledonia {
    background-position: 66.52242% 0
}

.flag-new-zealand, .flag-nzl {
    background-position: 66.9408% 0
}

.flag-nic, .flag-nicaragua {
    background-position: 67.35918% 0
}

.flag-ner, .flag-niger {
    background-position: 67.77756% 0
}

.flag-nga, .flag-nigeria {
    background-position: 68.19594% 0
}

.flag-north-korea, .flag-prk {
    background-position: 68.61432% 0
}

.flag-mnp, .flag-northern-mariana-islands {
    background-position: 69.0327% 0
}

.flag-nor, .flag-norway {
    background-position: 69.45108% 0
}

.flag-oman, .flag-omn {
    background-position: 69.86946% 0
}

.flag-pak, .flag-pakistan {
    background-position: 70.28784% 0
}

.flag-palau, .flag-plw {
    background-position: 70.70622% 0
}

.flag-palestine, .flag-pse {
    background-position: 71.1246% 0
}

.flag-pan, .flag-panama {
    background-position: 71.54298% 0
}

.flag-papua-new-guinea, .flag-png {
    background-position: 71.96136% 0
}

.flag-paraguay, .flag-pry {
    background-position: 72.37974% 0
}

.flag-per, .flag-peru {
    background-position: 72.79812% 0
}

.flag-philippines, .flag-phl {
    background-position: 73.2165% 0
}

.flag-pol, .flag-poland {
    background-position: 73.63488% 0
}

.flag-portugal, .flag-prt {
    background-position: 74.05326% 0
}

.flag-pri, .flag-puerto-rico {
    background-position: 74.47164% 0
}

.flag-qat, .flag-qatar {
    background-position: 74.89002% 0
}

.flag-romania, .flag-rou {
    background-position: 75.3084% 0
}

.flag-rus, .flag-russia, .flag-russian-federation {
    background-position: 75.72678% 0
}

.flag-rwa, .flag-rwanda {
    background-position: 76.14516% 0
}

.flag-lca, .flag-saint-lucia {
    background-position: 76.56354% 0
}

.flag-saint-vincent-and-the-grenadines, .flag-vct {
    background-position: 76.98192% 0
}

.flag-samoa, .flag-wsm {
    background-position: 77.4003% 0
}

.flag-san-marino, .flag-smr {
    background-position: 77.81868% 0
}

.flag-sao-tome-and-principe, .flag-saotomeandprincipe, .flag-stp {
    background-position: 78.23706% 0
}

.flag-sau, .flag-saudi-arabia, .flag-saudiarabia {
    background-position: 78.65544% 0
}

.flag-sco, .flag-scotland {
    background-position: 79.07382% 0
}

.flag-sen, .flag-senegal {
    background-position: 79.4922% 0
}

.flag-serbia, .flag-srb {
    background-position: 79.91058% 0
}

.flag-seychelles, .flag-syc {
    background-position: 80.32896% 0
}

.flag-sierra-leone, .flag-sle {
    background-position: 80.74734% 0
}

.flag-sgp, .flag-singapore {
    background-position: 81.16572% 0
}

.flag-slovakia, .flag-svk {
    background-position: 81.5841% 0
}

.flag-slovenia, .flag-svn {
    background-position: 82.00248% 0
}

.flag-slb, .flag-solomon-islands {
    background-position: 82.42086% 0
}

.flag-som, .flag-somalia {
    background-position: 82.83924% 0
}

.flag-south-africa, .flag-zaf {
    background-position: 83.25762% 0
}

.flag-kor, .flag-south-korea {
    background-position: 83.676% 0
}

.flag-south-sudan, .flag-ssd {
    background-position: 84.09438% 0
}

.flag-esp, .flag-spain, .flag-spain-amateur {
    background-position: 84.51276% 0
}

.flag-lka, .flag-sri-lanka {
    background-position: 84.93114% 0
}

.flag-kna, .flag-st-kitts-and-nevis {
    background-position: 85.34952% 0
}

.flag-sdn, .flag-sudan {
    background-position: 85.7679% 0
}

.flag-sur, .flag-surinam, .flag-suriname {
    background-position: 86.18628% 0
}

.flag-swaziland, .flag-swz {
    background-position: 86.60466% 0
}

.flag-swe, .flag-sweden, .flag-sweden-amateur {
    background-position: 87.02304% 0
}

.flag-che, .flag-switzerland {
    background-position: 87.44142% 0
}

.flag-sye, .flag-syria {
    background-position: 87.8598% 0
}

.flag-tahiti {
    background-position: 88.27818% 0
}

.flag-chinese-taipei, .flag-taiwan, .flag-twn {
    background-position: 88.69656% 0
}

.flag-tajikistan, .flag-tjk {
    background-position: 89.11494% 0
}

.flag-tanzania, .flag-tza {
    background-position: 89.53332% 0
}

.flag-tha, .flag-thailand {
    background-position: 89.9517% 0
}

.flag-timor-leste, .flag-tls {
    background-position: 90.37008% 0
}

.flag-tgo, .flag-togo {
    background-position: 90.78846% 0
}

.flag-ton, .flag-tonga {
    background-position: 91.20684% 0
}

.flag-trinidad-and-tobago, .flag-tto {
    background-position: 91.62522% 0
}

.flag-tun, .flag-tunisia {
    background-position: 92.0436% 0
}

.flag-tur, .flag-turkey, .flag-turkey-amateur {
    background-position: 92.46198% 0
}

.flag-tkm, .flag-turkmenistan {
    background-position: 92.88036% 0
}

.flag-tca, .flag-turks-and-caicos-islands {
    background-position: 93.29874% 0
}

.flag-tuv, .flag-tuvalu {
    background-position: 93.71712% 0
}

.flag-are, .flag-uae, .flag-united-arab-emirates {
    background-position: 94.1355% 0
}

.flag-uga, .flag-uganda {
    background-position: 94.55388% 0
}

.flag-ukr, .flag-ukraine {
    background-position: 94.97226% 0
}

.flag-uruguay, .flag-ury {
    background-position: 95.39064% 0
}

.flag-usa {
    background-position: 95.80902% 0
}

.flag-uzb, .flag-uzbekistan {
    background-position: 96.2274% 0
}

.flag-vanuatu, .flag-vut {
    background-position: 96.64578% 0
}

.flag-ven, .flag-venezuela {
    background-position: 97.06416% 0
}

.flag-vietnam, .flag-vnm {
    background-position: 97.48254% 0
}

.flag-virgin-islands {
    background-position: 97.90092% 0
}

.flag-wal, .flag-wales {
    background-position: 98.3193% 0
}

.flag-yem, .flag-yemen {
    background-position: 98.73768% 0
}

.flag-zambia, .flag-zmb {
    background-position: 99.15606% 0
}

.flag-eaz, .flag-zanzibar {
    background-position: 99.57444% 0
}

.flag-zimbabwe, .flag-zwe {
    background-position: 99.99282% 0
}

.flag-africa {
    background: url("../images/flags/africa@2x.png") 0 0/contain no-repeat
}

@media (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    .flag-africa {
        background: url("../images/flags/africa@3x.png") 0 0/contain no-repeat
    }
}

.flag-asia, .flag-asian-games {
    background: url("../images/flags/asia@2x.png") 0 0/contain no-repeat
}

@media (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    .flag-asia, .flag-asian-games {
        background: url("../images/flags/asia@3x.png") 0 0/contain no-repeat
    }
}

.flag-europe {
    background: url("../images/flags/europe@2x.png") 0 0/contain no-repeat
}

@media (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    .flag-europe {
        background: url("../images/flags/europe@3x.png") 0 0/contain no-repeat
    }
}

.flag-caribbean, .flag-north-america, .flag-north_america, .flag-pan-american-games {
    background: url("../images/flags/north_america@2x.png") 0 0/contain no-repeat
}

@media (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    .flag-caribbean, .flag-north-america, .flag-north_america, .flag-pan-american-games {
        background: url("../images/flags/north_america@3x.png") 0 0/contain no-repeat
    }
}

.flag-north-central-america, .flag-north_central_america {
    background: url("../images/flags/north_central_america@2x.png") 0 0/contain no-repeat
}

@media (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    .flag-north-central-america, .flag-north_central_america {
        background: url("../images/flags/north_central_america@3x.png") 0 0/contain no-repeat
    }
}

.flag-south-america, .flag-south_america {
    background: url("../images/flags/south_america@2x.png") 0 0/contain no-repeat
}

@media (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    .flag-south-america, .flag-south_america {
        background: url("../images/flags/south_america@3x.png") 0 0/contain no-repeat
    }
}

.flag-international, .flag-wch-ibaf, .flag-world {
    background: url("../images/flags/international@2x.png") 0 0/contain no-repeat
}

@media (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    .flag-international, .flag-wch-ibaf, .flag-world {
        background: url("../images/flags/international@3x.png") 0 0/contain no-repeat
    }
}

.flag-oceania {
    background: url("../images/flags/oceania@2x.png") 0 0/contain no-repeat
}

@media (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    .flag-oceania {
        background: url("../images/flags/oceania@3x.png") 0 0/contain no-repeat
    }
}

.flag-tournament-color {
    background-image: url("../images/flags/sprite-tournament-color.png")
}

@media (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    .flag-tournament-color {
        background-image: url("../images/flags/sprite-tournament-color@2x.png");
        background-size: 420px 28px
    }
}

.flag-tournament-color.flag-atp, .flag-tournament-color.flag-challenger, .flag-tournament-color.flag-challenger-women {
    width: 28px;
    height: 28px;
    background-position: 0 0
}

.flag-tournament-color.flag-calendar-color {
    width: 28px;
    height: 28px;
    background-position: -28px 0
}

.flag-tournament-color.flag-ctl {
    width: 28px;
    height: 28px;
    background-position: -56px 0
}

.flag-tournament-color.flag-davis-cup {
    width: 28px;
    height: 28px;
    background-position: -84px 0
}

.flag-tournament-color.flag-euro2016-color {
    width: 28px;
    height: 28px;
    background-position: -112px 0
}

.flag-tournament-color.flag-federation-cup {
    width: 28px;
    height: 28px;
    background-position: -140px 0
}

.flag-tournament-color.flag-fifa {
    width: 28px;
    height: 28px;
    background-position: -168px 0
}

.flag-tournament-color.flag-hopman-cup {
    width: 28px;
    height: 28px;
    background-position: -196px 0
}

.flag-tournament-color.flag-itf, .flag-tournament-color.flag-itf-men, .flag-tournament-color.flag-itf-women {
    width: 28px;
    height: 28px;
    background-position: -224px 0
}

.flag-tournament-color.flag-rugby-league {
    width: 28px;
    height: 28px;
    background-position: -252px 0
}

.flag-tournament-color.flag-rugby-union {
    width: 28px;
    height: 28px;
    background-position: -280px 0
}

.flag-tournament-color.flag-rugby-union-sevens {
    width: 28px;
    height: 28px;
    background-position: -28px 0
}

.flag-tournament-color.flag-rugby-union-tens, .flag-tournament-color.flag-trophy-color {
    width: 28px;
    height: 28px;
    background-position: -308px 0
}

.flag-tournament-color.flag-uefa {
    width: 28px;
    height: 28px;
    background-position: -336px 0
}

.flag-tournament-color.flag-wta {
    width: 28px;
    height: 28px;
    background-position: -364px 0
}
