/* SF Pro Text */
@font-face {
  font-family: "SF Pro Text";
  font-weight: 300;
  src: url("../fonts/sf-pro-text/sf-pro-text_light.woff2");
}

@font-face {
  font-family: "SF Pro Text";
  font-weight: 400;
  src: url("../fonts/sf-pro-text/sf-pro-text_regular.woff2");
}

@font-face {
  font-family: "SF Pro Text";
  font-weight: 500;
  src: url("../fonts/sf-pro-text/sf-pro-text_semibold.woff2");
}

@font-face {
  font-family: "SF Pro Text";
  font-weight: 700;
  src: url("../fonts/sf-pro-text/sf-pro-text_bold.woff2");
}

/* SF Pro Display */
@font-face {
  font-family: "SF Pro Display";
  font-weight: 300;
  src: url("../fonts/sf-pro-display/sf-pro-display_light.woff2");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 400;
  src: url("../fonts/sf-pro-display/sf-pro-display_regular.woff2");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 700;
  src: url("../fonts/sf-pro-display/sf-pro-display_semibold.woff2");
}

/* Helvetica Neue */
@font-face {
  font-family: "HelveticaNeue";
  font-weight: 200;
  src: url("../fonts/helveticaneue/helveticaneue-ultralight.woff");
}

@font-face {
  font-family: "HelveticaNeue";
  font-weight: 400;
  src: url("../fonts/helveticaneue/helveticaneue-light.woff2");
}

@font-face {
  font-family: "HelveticaNeue";
  font-weight: normal;
  src: url("../fonts/helveticaneue/helveticaneue.woff2");
}

@font-face {
  font-family: "HelveticaNeue";
  font-weight: 500;
  src: url("../fonts/helveticaneue/helveticaneue-medium.woff2");
}

@font-face {
  font-family: "HelveticaNeue";
  font-weight: bold;
  src: url("../fonts/helveticaneue/helveticaneue-bold.woff2");
}



