.header {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 3px 4px rgba(0, 0, 0, .3);
    color: white;
    display: block;
    font-size: 17px;
    height: 48px;
    left: 0;
    max-height: none;
    overflow: hidden;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: background .44s .2s cubic-bezier(0.52, 0.16, 0.24, 1), height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
    -webkit-transition: background .44s .2s cubic-bezier(0.52, 0.16, 0.24, 1), height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
    width: 100%;
    z-index: 9999;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
}

.header-animation {
    animation: background-position 20s ease-in-out infinite alternate;
    background: url(../images/bg1.jpg) 0 100% no-repeat;
    background-size: cover;
    height: 50px;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: opacity .5s cubic-bezier(0.52, 0.16, 0.24, 1);
    width: 100%;
}

.col-menu {
    flex: 0 0 50px;
    max-width: 50px;
}

.col-search {
    flex: 0 0 50px;
    max-width: 50px;
}

.logo {
    animation: App-logo-spin infinite 10s linear;
    display: inline-block;
    height: 30px;
    margin: 9px 7px 7px 0;
    vertical-align: top;
    width: 30px;
}

.header-title {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: lighter;
    line-height: 50px;
    margin: 0;
    vertical-align: top;
    strong {
        font-weight: bold;
    }
}

.header-title a {
    color: #fff;
    text-decoration: none;
}

.header-btn {
    background: none;
    border: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    height: 50px;
    text-align: center;
    width: 50px;
    i {
        margin-top: 7px;
    }
}

.header-btn:focus,
.search-input:focus {
    outline: none;
}

.search {
    position: relative;
}

.ham-button {
    cursor: pointer;
    display: block;
    height: 48px;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: none;
    -webkit-transition: none;
    width: 48px;
    z-index: 3;
}

.ham-container:hover,
.ham-container:focus,
.ham-container:active {
    opacity: .65;
}

.ham-border {
    height: 30px;
    left: 9px;
    position: absolute;
    top: 9px;
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 30px;
    z-index: 3;
}

.ham-border-top {
    transform: none;
    -webkit-transform: none;
    transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    z-index: 4;
}

.ham-border-bottom {
    transform: none;
    -webkit-transform: none;
    transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
}

.ham-border-inner {
    background: #fff;
    display: block;
    height: 1px;
    left: 7px;
    position: absolute;
    width: 17px;
    z-index: 1;
}

.ham-border-inner-top {
    top: 14px;
    transform: translateY(-3px);
    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
}

.ham-border-inner-bottom {
    bottom: 14px;
    transform: translateY(3px);
    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
}

.searchbar {
    background: #000;
    cursor: default;
    opacity: 0;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    transform: translateY(-50px);
    transition: opacity .3345s cubic-bezier(0.52, 0.16, 0.52, 0.84) .15s, transform .3345s cubic-bezier(0.52, 0.16, 0.52, 0.84) .5s;
    width: 100%;
    z-index: 10;
    -webkit-overflow-scrolling: touch;
}

.search-icon {
    color: #999;
    left: 25px;
    position: absolute;
    top: 15px;
    transform: translateX(40px);
    transition: transform .24669s cubic-bezier(0.52, 0.16, 0.52, 0.84) .158s;
    z-index: 1;
}

.search-input {
    background: #000;
    border: none;
    color: #fff;
    display: block;
    font-size: 17px;
    line-height: 50px;
    padding: 0 80px 0 55px;
    transform: translateX(40px);
    transition: transform .24669s cubic-bezier(0.52, 0.16, 0.52, 0.84) .108s;
    width: 100%;
}

.search-input::placeholder {
    color: #999;
}

.search-clear-btn {
    color: #fff;
    font-size: 1rem;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .24669s cubic-bezier(0.52, 0.16, 0.52, 0.84) .108s
}

.searchbar-opened {
    .search-icon {
        transform: translateX(0);
        transition: transform .24669s cubic-bezier(0.52, 0.16, 0.52, 0.84) .108s
    }

    .search-input {
        transform: translateX(0);
        transition: transform .24669s cubic-bezier(0.52, 0.16, 0.52, 0.84) .158s
    }

    .search-clear-btn {
        opacity: 1;
    }

    .searchbar {
        opacity: 1;
        transform: none;
        transition: opacity .3345s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0s, transform 0s linear;
        /*transition: transform 0s linear .5s;*/
    }
    .close-icon {
        opacity: 1;
        transition: opacity 0s cubic-bezier(0.32, 0.08, 0.24, 1) .3s;
        &:before {
            animation: close-icon-left-line .3724s cubic-bezier(0.32, 0.08, 0.24, 1) both .28s;
        }
        &:after {
            animation: close-icon-right-line .3724s cubic-bezier(0.32, 0.08, 0.24, 1) both .28s;
        }
    }
}

.nav-list {
    bottom: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: default;
    display: block;
    height: auto;
    left: 0;
    list-style: none;
    margin: 0 auto;
    max-width: 664px;
    overflow-y: auto;
    padding: 15px 40px;
    position: absolute;
    right: 0;
    top: 50px;
    transition: visibility 0s linear 1s;
    -webkit-transition: visibility 0s linear 1s;
    visibility: hidden;
    width: auto;
    z-index: 1;
    li {
        opacity: 0;
        pointer-events: none;
        a {
            color: #fff;
            display: block;
            line-height: 44px;
        }
        &:first-child {
            display: none;
        }

        &:nth-child(2) {
            padding-top: 1px;
            transform: translateY(-44px);
            transition: opacity .3345s cubic-bezier(0.52, 0.16, 0.52, 0.84) .15s, transform .4669s cubic-bezier(0.52, 0.16, 0.52, 0.84) .108s;
        }

        &:nth-child(3) {
            transform: translateY(-40px);
            transition: opacity .29294s cubic-bezier(0.52, 0.16, 0.52, 0.84) .13s, transform .45043s cubic-bezier(0.52, 0.16, 0.52, 0.84) .095s;
        }

        &:nth-child(4) {
            transform: translateY(-36px);
            transition: opacity .26098s cubic-bezier(0.52, 0.16, 0.52, 0.84) .11s, transform .43756s cubic-bezier(0.52, 0.16, 0.52, 0.84) .082s;
        }

        &:nth-child(5) {
            transform: translateY(-32px);
            transition: opacity .2386s cubic-bezier(0.52, 0.16, 0.52, 0.84) .09s, transform .42827s cubic-bezier(0.52, 0.16, 0.52, 0.84) .069s;
        }

        &:nth-child(6) {
            transform: translateY(-28px);
            transition: opacity .22581s cubic-bezier(0.52, 0.16, 0.52, 0.84) .07s, transform .42259s cubic-bezier(0.52, 0.16, 0.52, 0.84) .056s;
        }

        &:nth-child(7) {
            transform: translateY(-24px);
            transition: opacity .22261s cubic-bezier(0.52, 0.16, 0.52, 0.84) .05s, transform .4205s cubic-bezier(0.52, 0.16, 0.52, 0.84) .043s;
        }

        &:nth-child(8) {
            transform: translateY(-20px);
            transition: opacity .229s cubic-bezier(0.52, 0.16, 0.52, 0.84) .03s, transform .422s cubic-bezier(0.52, 0.16, 0.52, 0.84) .03s;
        }
    }
    -webkit-overflow-scrolling: touch;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar-opened {
    .ham-border-top {
        transform: rotate(45deg);
        transition: transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
    }
    .ham-border-bottom {
        transform: rotate(-45deg);
        transition: transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
    }

    .ham-border-inner-top {
        transform: none;
        transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    }

    .ham-border-inner-bottom {
        transform: none;
        transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    }
    .header {
        background-color: #000;
        height: 100%;
        transition: background .36s cubic-bezier(0.32, 0.08, 0.24, 1), height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
    }

    .header-animation {
        opacity: .4;
    }

    .nav-list {
        transition-delay: 0s;
        visibility: visible;
    }

    .nav-list li {
        opacity: 1;
        pointer-events: auto;
        transform: none;
        -webkit-transform: none;
    }

    .nav-list li:nth-child(2) {
        transition: opacity .3091s cubic-bezier(0.32, 0.08, 0.24, 1) .03s, transform .3455s cubic-bezier(0.32, 0.08, 0.24, 1) .02s;
    }

    .nav-list li:nth-child(3) {
        transition: opacity .32244s cubic-bezier(0.32, 0.08, 0.24, 1) .05s, transform .35825s cubic-bezier(0.32, 0.08, 0.24, 1) .04s;
    }

    .nav-list li:nth-child(4) {
        transition: opacity .33467s cubic-bezier(0.32, 0.08, 0.24, 1) .07s, transform .37539s cubic-bezier(0.32, 0.08, 0.24, 1) .06s;
    }

    .nav-list li:nth-child(5) {
        transition: opacity .34577s cubic-bezier(0.32, 0.08, 0.24, 1) .09s, transform .39692s cubic-bezier(0.32, 0.08, 0.24, 1) .08s;
    }

    .nav-list li:nth-child(6) {
        transition: opacity .35577s cubic-bezier(0.32, 0.08, 0.24, 1) .11s, transform .42286s cubic-bezier(0.32, 0.08, 0.24, 1) .1s;
    }

    .nav-list li:nth-child(7) {
        transition: opacity .36464s cubic-bezier(0.32, 0.08, 0.24, 1) .13s, transform .45318s cubic-bezier(0.32, 0.08, 0.24, 1) .12s;
    }

    .nav-list li:nth-child(8) {
        transition: opacity .3724s cubic-bezier(0.32, 0.08, 0.24, 1) .15s, transform .4879s cubic-bezier(0.32, 0.08, 0.24, 1) .14s;
    }
}

.close-icon {
    display: inline-block;
    height: 17px;
    margin-top: 7px;
    opacity: 0;
    position: relative;
    width: 17px;
    &:before,
    &:after {
        background-color: #fff;
        content: ' ';
        height: 18px;
        left: 9px;
        position: absolute;
        width: 1px;
    }
}

.switch {
    background-color: #ffffff;
    border: solid 1px #d2d6de;
    border-radius: 30px;
    box-shadow: inset 1px 1px 9px -3px rgba(4, 4, 4, 0.08), 1px 2px 6px -2px rgba(0, 0, 0, 0.01);
    cursor: pointer;
    display: flex;
    height: 30px;
    margin: 0;
    vertical-align: middle;
    width: 55px;
    &-container {
        align-items: center;
        display: flex;
    }
    &-title {
        display: flex;
        margin-left: 5px;
    }
    &,
    .dot {
        transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
    }
    .dot {
        background-color: #ffffff;
        border: solid 1px rgba(126, 126, 126, 0.07);
        border-radius: 26px;
        box-shadow: 0 1px 3px rgba(107, 106, 106, 0.26), 0 5px 1px rgba(107, 106, 106, 0.13);
        display: inline-block;
        height: 26px;
        margin: 1px 1px;
        width: 28px;
    }
    &.active {
        background-color: rgba($color-cl-3, 1);
        border: solid 1px transparent;
        .dot {
            margin-left: 24px;
        }
    }
}

.header-tabs {
    background: rgba($color-cl-4, 1);
    font-size: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        color: #fff;
        &.active,
        &.active:hover {
            background: rgba($color-cl-2, .3);
            color: #00E688;
        }
        &:focus {
            outline: 0;
        }
    }
    .dropdown-menu {
        max-height: 75vh;
        overflow-y: scroll;
        padding-bottom: 0;


        &.right {
            left: auto;
            right: 0;
            width: 85vw;
        }
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            background: #eee;
        }
        &::-webkit-scrollbar-thumb {
            background: #000;
        }
        i {
            margin-right: 5px;
            vertical-align: middle;
        }
    }
    .filters {
        .dropdown-item {
            &:hover,
            &:focus,
            &:active {
                background: #fff;
            }
        }
        .flag-img img {
            background: #000;
        }
    }
    .dropdown-item {
        align-items: center;
        display: flex;
        padding: .375rem 1.5rem;
        &:hover,
        &:focus,
        &:active {
            background: #eee;
            color: #16181b;
        }
    }
    .separator {
        margin: .375rem 0;
    }
    .filter-okay {
        background: rgba($color-cl-4, .8);
        color: #fff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin-top: .375rem;
        padding: 1rem 0;
    }
    .filter-clear {
        background: rgba(#f44336, 1);
        color: #fff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin-top: .375rem;
        max-width: 100px;
        padding: 1rem 0;
    }
    &-container {
        align-items: center;
        border-left: 1px solid rgba($color-cl-3, .4);
        cursor: pointer;
        display: flex;
        height: 100%;
        justify-content: left;
        padding: 10px 5px;
        &:hover {
            text-decoration: none;
        }
        &:focus {
            outline: 0;
        }
    }
    .col-live {
        max-width: 100px;
    }
    .col-date {
        max-width: 80px;
    }
    .col-filter {
        max-width: 40px;
    }
    i {
        font-size: 1.5rem;
    }
    .fa-angle-down,
    .fa-angle-up,
    .fa-filter {
        font-size: .8rem;
    }
}

@keyframes close-icon-left-line {
    0% {
        -webkit-transform: none;
        transform: none
    }

    100% {
        transform: rotate(45deg);
    }
}

@keyframes close-icon-right-line {
    0% {
        -webkit-transform: none;
        transform: none
    }

    100% {
        transform: rotate(-45deg);
    }
}

@keyframes background-position {
    0% {
        background-position-y: 100%;
    }
    100% {
        background-position-y: 0;
    }
}
