.tournament-title {
    background: $color-cl-1;
    color: #fff;
    padding: 10px 25px;
    position: sticky;
    top: 47px;
    z-index: 1;
}

.tournament-name {
    display: inline-block;
    font-weight: lighter;
    @include line-clamp(1);
    strong {
        font-weight: bold;
    }
}

.event-score {
    letter-spacing: 0.01rem;
    max-width: 50px;
    padding: 0;
}

.events-wrapper {
    & > div:nth-child(odd) {
        background: rgba(0, 0, 0, 0.1);
        &.fav-active {
            background: rgba($color-cl-4, .12);
        }
    }
    .fav-active {
        background: rgba($color-cl-4, .05);

    }
}

.event-container {
    height: 50px;
    line-height: 50px;
}

.event-team {
    @include line-clamp(1);
}

.event-time {
    font-size: .9rem;
    max-width: 50px;
}

.live,
.red{
    color: red;
}

.yellow {
    color: #808000;
}

.small-text {
    font-size: .8rem;
}

.line-clamp {
    @include line-clamp(1);
}
.event-fav {
    font-size: 1.5rem;
    max-width: 40px;
    i {
        color: rgba(#333, .2);
    }
    .active {
        color: rgba($color-cl-4, 1);
    }
}

.live-blinker {

}

.live-blinker {
    animation: blink-animation 1s linear infinite;
    color: red;
    margin-left: 1px;
}

.red-card {
    display: inline-block;
    background: #dc0d17;
    color: #fff;
    height: 14px;
    line-height: 14px;
    font-size: .7rem;
    width: 10px;
    text-align: center;
    margin: -2px 4px 0;
    vertical-align: middle;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

@keyframes blink-animation {
    50% {
        opacity: 0;
    }
}
